h1 {
    text-align: center;
}

.container {
    text-align: center;
}

button {
    width: 42px;
    height: 42px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 6px;
    background: ;
    border-radius: 5px;
    color: #797979;
    border: 1px solid #a9a9a9;
    text-decoration: none;
}

transition: all 50ms ease-in-out;